<div>
  <h1>Task Manager</h1>

  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/task-manager">Task Manager</a></li>
    </ul>
  </nav>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- app.component.html -->
<router-outlet></router-outlet>

</div>
