<h2 class="text-center">Login</h2>
<div class = container>
  <div class="d-flex justify-content-center">
    <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="w-50">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="loginData.email" class="form-control">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="loginData.password" class="form-control">
      </div>
      <div class="d-grid">
        <button type="submit" class="centered-button">Login</button>
      </div>
    </form>
  </div>
</div>

<button (click)="onSignUp()">Sign Up</button>
