body {
    background-color: lightblue;
  }
  
  .container {
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-control {
    background-color: white;
  }
  
  .btn-primary {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50px;
    gap:100px;
    margin-top: auto;
    margin-bottom: 80px;
  }
  .container {
    background-color: rgb(182, 196, 200);
    padding: 20px;
    border-radius: 50px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  