<app-header></app-header>

<div class="container">
  <div class="create-task-section">
    <h2>Create New Task</h2>
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        [(ngModel)]="newTask.title"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        [(ngModel)]="newTask.description"
        class="form-control"
      ></textarea>
    </div>
    <button (click)="addTask()" class="btn btn-primary">
      <i class="bi bi-plus-circle"></i> Add Task
    </button>
  </div>

  <!-- My Tasks Section -->
  <h2>My Tasks</h2>
  <div class="task-list">
    <div *ngFor="let task of tasks" class="task-container">
      <div class="task-item">
        <div class="task-details">
          <div class="d-flex">
            <h2>{{ task.title }}</h2>
            <span *ngIf="task.status === taskStatus.COMPLETED" class="completed-icon zoom-effect">
              <i class="bi bi-check-circle-fill"></i>
            </span>
          </div>
          <p>{{ task.description }}</p>
        </div>
        <div class="task-actions">
          <span class="material-symbols-outlined" (click)="openEditDialog(task)" > edit_square </span>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="kebabMenu"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="kebabMenu">
              <li>
                <button class="dropdown-item" (click)="completeTask(task)">
                  <i class="bi bi-check-circle-fill"></i> Complete Task
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="undoTask(task)">
                  <i class="bi bi-arrow-counterclockwise"></i> Undo Task
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="removeTask(task)">
                  <i class="bi bi-trash-fill"></i> Remove Task
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <!-- <form [formGroup]="collectFeeForm" (submit)="submitCollectFee(c)"> -->

    <!-- <div class="form-group" [ngClass]="{'has-danger': ((collectFeeForm.controls.feeTypeId.touched || isCollectFormSubmitted) && collectFeeForm.controls.feeTypeId.errors) }"> -->
  <!-- <div class="form">
    <form [formGroup]="collectFeeForm">
      <div class="form-group">
        <select formControlName="feeTypeId" class="form-control">
          <option value="0">select fee type</option>
          <option
            *ngFor="let fs of feeCollection.feeSetup"
            [value]="fs.fee_type_id"
          >
            {{ fs.name }}
          </option>
        </select>

        <input type="number" formControlName="amount" />
        <div *ngIf="collectFeeForm.get('amount')?.invalid">it's error</div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="collectFeeForm.invalid"
        (click)="saveFee()"
      >
        Save fee
      </button>
    </form>
  </div> -->
</div>

<app-footer></app-footer>
